*{
    margin: 0;
    padding:0;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        font-size: 25px;
}
.form-control .btn{
    font-size: 25px;
    border-radius: 15px;
}
.container{
    margin-top: 100px;
}